.loader {
  position: fixed;
  z-index: 9999;
  min-height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}

.loader img {
  animation: fadeInOut 2s infinite;
}

@keyframes fadeInOut {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}
